@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.upper .heading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.heading {
    font-family: "Inter", sans-serif;
    color: #666666;
}

.upper {
  background-color: #fff1c9;
  width: 100%;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-grid {
    display: flex;
  }
  .flex-grid .col {
    flex: 1;
  }
  .flex-grid-thirds {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  .flex-grid-thirds .col {
    width: 32%;
  }
  
  @media (max-width: 400px) {
    .flex-grid,
    .flex-grid-thirds {
      display: block;
      .col {
        width: 100%;
        margin: 0 0 10px 0;
      }
    }
  }

  * {
    box-sizing: border-box;
  }
  body {
    padding: 20px;
  } 
  .flex-grid { 
    margin: 0 0 20px 0;
  }
  .col {
    background: #f1c8f1;
    padding: 20px;
    color: #AB0A83;
    font-weight: 700;
    font-family: "Inter";
  }
  
  .col1 {
    background: #f1c8f1;
    padding: 20px;
    font-size: 25px;
    color: #AB0A83;
    font-weight: 700;
    font-family: "Inter";
  }

.col2 {
    background: #f1c8f1;
    padding: 20px;
    font-size: 25px;
    color: #AB0A83;
    font-weight: 700;
    font-family: "Inter";
}

.col3 {
    background: #FFF1FF;
    padding: 20px;
    font-size: 25px;
    background-color: #E6FCE8;
    color: #006400;
    font-weight: 700;
    font-family: "Inter";
}

.col4 {
    background: #FFF1FF;
    padding: 20px;
    font-size: 25px;
    background-color: #FFF6DD;
    color: #AF6002;
    font-weight: 700;
    font-family: "Inter";
}

.img-sec {
    margin-top: 40px;
    margin-left: 350px;
}

img {
    width: 500px;
    height: 300px;
}

hr {
    margin-bottom: 90px;
}

.button {
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 16px;
  border: none;
  padding: 2px;
  background: radial-gradient(circle 80px at 80% -10%, #ffffff, #181b1b);
  position: relative;
}
.button::after {
  content: "";
  position: absolute;
  width: 65%;
  height: 60%;
  border-radius: 120px;
  top: 0;
  right: 0;
  box-shadow: 0 0 20px #ffffff38;
  z-index: -1;
}

.blob1 {
  position: absolute;
  width: 70px;
  height: 100%;
  border-radius: 16px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    circle 60px at 0% 100%,
    #3fe9ff,
    #0000ff80,
    transparent
  );
  box-shadow: -10px 10px 30px #0051ff2d;
}

.inner {
  padding: 14px 25px;
  border-radius: 14px;
  color: #fff;
  z-index: 3;
  position: relative;
  background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);
}
.inner::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 14px;
  background: radial-gradient(
    circle 60px at 0% 100%,
    #00e1ff1a,
    #0000ff11,
    transparent
  );
  position: absolute;
}

/* Loading screen animation */


.loader_wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999 ;
  transition: opacity 0.95s, visibility 1s;
}

.fade {
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 120px;
  height: 150px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-image: linear-gradient(#ddd 50%, #bbb 51%),
    linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
    radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
    radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
    radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%);
  background-position: 0 20px, 45px 0, 8px 6px, 55px 3px, 75px 3px, 95px 3px;
  background-size: 100% 4px, 1px 23px, 30px 8px, 15px 15px, 15px 15px, 15px 15px;
  position: relative;
  border-radius: 6%;
  animation: shake 3s ease-in-out infinite;
  transform-origin: 60px 180px;
}

.loader:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 100%;
  width: 7px;
  height: 5px;
  background: #aaa;
  border-radius: 0 0 4px 4px;
  box-shadow: 102px 0 #aaa;
}

.loader:after {
  content: "";
  position: absolute;
  width: 95px;
  height: 95px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  background-color: #bbdefb;
  background-image: linear-gradient( to right, #0004 0%, #0004 49%, #0000 50%, #0000 100% ),
    linear-gradient(135deg, #64b5f6 50%, #607d8b 51%);
  background-size: 30px 100%, 90px 80px;
  border-radius: 50%;
  background-repeat: repeat, no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
  border: 10px solid #DDD;
  box-shadow: 0 0 0 4px #999 inset, 0 0 6px 6px #0004 inset;
  animation: spin 3s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(360deg)
  }

  75% {
    transform: rotate(750deg)
  }

  100% {
    transform: rotate(1800deg)
  }
}

@keyframes shake {
  65%, 80%, 88%, 96% {
    transform: rotate(0.5deg)
  }

  50%, 75%, 84%, 92% {
    transform: rotate(-0.5deg)
  }

  0%, 50%, 100% {
    transform: rotate(0)
  }
} 